{
  "openapi": "3.1.0",
  "info": {
    "title": "Dappier Datamodel API",
    "version": "0.1.0"
  },

  "servers": [
    {
      "url": "https://api.dappier.com"
    }
  ],

  "paths": {
    "/app/aimodel/{ai_model_id}": {
      "post": {
        "summary": "Query Real-Time Search",
        "description": "Access real-time search with Dappier's AI models — from live web search and breaking news to stock prices and financial insights. Fast, reliable, and ready for monetization.",
        "operationId": "query_RealTimeData_data",
        "parameters": [
          {
            "name": "ai_model_id",
            "in": "path",
            "required": true,
            "description": "The ID of the AI model to query (e.g., am_01j06ytn18ejftedz6dyhz2b15). Browse and find AI models in the [Dappier Marketplace](https://platform.dappier.com/marketplace).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/QueryRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Returns HTTP Status Code 200 (OK).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },

    "/app/v2/search": {
      "post": {
        "summary": "Get AI Article Recommendations",
        "description": "Retrieve articles based on queries or URLs, powered by semantic search.",
        "parameters": [
          {
            "name": "data_model_id",
            "in": "query",
            "required": true,
            "description": "Data model ID, starting with `dm_`. Browse and find data models in the [Dappier Marketplace](https://platform.dappier.com/marketplace).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "string",
                    "description": "Natural language query, keyword, or URL. If a URL is specified, our AI analyzes the page context, summarizes it, and provides semantic recommendations based on the content."
                  },
                  "similarity_top_k": {
                    "type": "integer",
                    "default": 9,
                    "description": "The number of articles to return."
                  },
                  "ref": {
                    "type": "string",
                    "description": "The site domain where AI recommendations are being displayed. Example format: dappier.com."
                  },
                  "num_articles_ref": {
                    "type": "integer",
                    "default": 0,
                    "description": "The minimum number of articles from the `ref` domain specified above. The rest of the articles will come from other sites within the RAG model."
                  },
                  "search_algorithm": {
                    "type": "string",
                    "enum": [
                      "most_recent",
                      "semantic",
                      "most_recent_semantic",
                      "trending"
                    ],
                    "description": "The search algorithm for retrieving articles.\n `most_recent`: Retrieves the most recent articles by publication date. `semantic` (default): Retrieves contextually relevant articles based on the query or the page content from the provided URL. `most_recent_semantic`: Performs semantic search and retrieves the most recent articles by publication date. `trending`: Performs a trending search and retrieves the most relevant articles to trending keywords in the past 24 hours."
                  },
                  "page": {
                    "type": "integer",
                    "default": 1,
                    "description": "Page number for pagination."
                  },
                  "num_results": {
                    "type": "integer",
                    "default": 10,
                    "description": "Number of results per page."
                  }
                },
                "required": ["query"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with article recommendations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the API response."
                    },
                    "response": {
                      "type": "object",
                      "properties": {
                        "query": {
                          "type": "string",
                          "description": "The query string used for the recommendations."
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "author": {
                                "type": "string",
                                "description": "The author of the article."
                              },
                              "image_url": {
                                "type": "string",
                                "description": "The image URL for the article. You can add &w=400&h=200 to the end of the URL with your desired size values to automatically resize and optimize delivery of the image."
                              },
                              "preview_content": {
                                "type": "string",
                                "description": "A short preview of the article content."
                              },
                              "pubdate": {
                                "type": "string",
                                "description": "The publication date of the article."
                              },
                              "pubdate_unix": {
                                "type": "integer",
                                "description": "The publication date in UNIX timestamp."
                              },
                              "score": {
                                "type": "number",
                                "description": "The relevance score of the article."
                              },
                              "site": {
                                "type": "string",
                                "description": "The source site of the article."
                              },
                              "site_domain": {
                                "type": "string",
                                "description": "The domain of the site."
                              },
                              "source_url": {
                                "type": "string",
                                "description": "The tracking URL for the article."
                              },
                              "summary": {
                                "type": "string",
                                "description": "A summary of the article content."
                              },
                              "title": {
                                "type": "string",
                                "description": "The title of the article."
                              },
                              "url": {
                                "type": "string",
                                "description": "The URL for the article."
                              }
                            }
                          }
                        },
                        "message": {
                          "type": "string",
                          "description": "Additional message or information."
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    },

    "/v1/analytics/ask-ai": {
      "get": {
        "summary": "Get Ask AI Analytics",
        "description": "Publisher-facing Ask AI engagement rollup: summary KPIs plus a daily time-series. Numbers match the Dappier platform analytics dashboard for the same filters.",
        "operationId": "get_AskAi_analytics",
        "parameters": [
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "description": "Inclusive start of the reporting window, formatted `YYYY-MM-DD` (UTC).",
            "schema": { "type": "string", "format": "date", "example": "2026-04-01" }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": true,
            "description": "Inclusive end of the reporting window, formatted `YYYY-MM-DD` (UTC). Must be on or after `start_date`; the total range must be ≤ 365 days.",
            "schema": { "type": "string", "format": "date", "example": "2026-04-30" }
          },
          {
            "name": "widget_id",
            "in": "query",
            "required": false,
            "description": "External widget id (e.g. `wd_...`). Validated against the key's tenant — an unknown or other-tenant id returns `400 widget_id not found`. Scopes results to that widget's AI agent. Omit for all of the tenant's widgets.",
            "schema": { "type": "string", "example": "wd_92831" }
          },
          {
            "name": "placement_id",
            "in": "query",
            "required": false,
            "description": "External placement id.",
            "schema": { "type": "string" }
          },
          {
            "name": "deployment_type",
            "in": "query",
            "required": false,
            "description": "Deployment type, e.g. `brand_agent`, `sponsored_conversation`, `embed`. Omit for all.",
            "schema": { "type": "string", "example": "brand_agent" }
          },
          {
            "name": "creative_id",
            "in": "query",
            "required": false,
            "description": "Publisher-supplied ad-tracking macro filter (HTML attribute on `<dappier-ask-ai-widget>`).",
            "schema": { "type": "string" }
          },
          {
            "name": "line_item_id",
            "in": "query",
            "required": false,
            "description": "Publisher-supplied ad-tracking macro filter.",
            "schema": { "type": "string" }
          },
          {
            "name": "publisher_id",
            "in": "query",
            "required": false,
            "description": "Publisher-supplied ad-tracking macro filter.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Engagement rollup for the requested window and filters.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AskAiAnalyticsResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or invalid dates, range greater than 365 days, or unknown `widget_id`.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnalyticsError" }
              }
            }
          },
          "401": {
            "description": "`Authorization` header missing, or token does not start with `ak_`.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnalyticsError" }
              }
            }
          },
          "403": {
            "description": "API key not found, or key is inactive.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnalyticsError" }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. A `Retry-After` header (seconds) is returned.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": { "type": "string", "example": "rate limit exceeded" }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal or BigQuery failure (empty body)."
          }
        },
        "security": [
          {
            "ApiKeyBearer": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "QueryRequest": {
        "properties": {
          "query": {
            "type": "string",
            "title": "Query message",
            "description": "The query text to be passed to the AI model."
          }
        },
        "type": "object",
        "required": ["query"],
        "title": "QueryRequest"
      },
      "QueryResponse": {
        "properties": {
          "message": {
            "type": "string",
            "title": "Query message",
            "description": "The response of the query sent, generated by the AI model."
          }
        },
        "type": "object",
        "required": ["message"],
        "title": "QueryResponse"
      },
      "AnalyticsError": {
        "type": "object",
        "title": "AnalyticsError",
        "properties": {
          "message": {
            "type": "string",
            "description": "Human-readable error description.",
            "example": "end_date must be on or after start_date"
          }
        }
      },
      "AskAiAnalyticsResponse": {
        "type": "object",
        "title": "AskAiAnalyticsResponse",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Always `true` for a 200 response.",
            "example": true
          },
          "filters": {
            "type": "object",
            "description": "Echoes back only the filters you supplied in the request.",
            "properties": {
              "start_date": { "type": "string", "format": "date", "example": "2026-04-01" },
              "end_date": { "type": "string", "format": "date", "example": "2026-04-30" },
              "deployment_type": { "type": "string", "example": "brand_agent" },
              "widget_id": { "type": "string", "example": "wd_92831" },
              "placement_id": { "type": "string" },
              "creative_id": { "type": "string", "example": "cr_123" },
              "line_item_id": { "type": "string" },
              "publisher_id": { "type": "string" }
            }
          },
          "summary": {
            "type": "object",
            "description": "Full 13-metric rollup for the window. The block is internally self-consistent; all percentages are rounded to 2 decimals.",
            "properties": {
              "widget_loads": { "type": "integer", "description": "Times the widget script initialized on a page.", "example": 124550 },
              "viewable_sessions": { "type": "integer", "description": "Sessions where the widget entered the viewport.", "example": 38122 },
              "viewability_rate": { "type": "number", "description": "`viewable_sessions / widget_loads * 100`.", "example": 30.6 },
              "engagement_queries": { "type": "integer", "description": "All user-originated queries — free-form, brand-agent, search, click-to-brand-agent, sponsored, automated follow-ups.", "example": 6421 },
              "engagement_rate": { "type": "number", "description": "`engagement_queries / viewable_sessions * 100`.", "example": 16.8 },
              "total_clicks": { "type": "integer", "description": "Article-body + ad + amplify + brand-agent answer + brand-agent CTA clicks.", "example": 2310 },
              "article_clicks": { "type": "integer", "description": "Subset of `total_clicks` on a URL inside the AI answer body.", "example": 1240 },
              "cta_clicks": { "type": "integer", "description": "Subset of `total_clicks` on a brand-agent CTA button.", "example": 1070 },
              "sessions": { "type": "integer", "description": "Unique sessions with ≥1 engagement query.", "example": 5120 },
              "avg_session_duration_seconds": { "type": "integer", "description": "Mean active time per engaged session (5s beacon resolution).", "example": 142 },
              "engagement_session_rate": { "type": "number", "description": "`sessions / viewable_sessions * 100`.", "example": 13.4 },
              "total_session_time_seconds": { "type": "integer", "description": "Sum of active time across engaged sessions.", "example": 727040 },
              "query_to_click_rate": { "type": "number", "description": "`total_clicks / engagement_queries * 100`.", "example": 36.0 }
            }
          },
          "daily_breakdown": {
            "type": "array",
            "description": "Per-day subset for charting, ascending by date.",
            "items": {
              "type": "object",
              "properties": {
                "date": { "type": "string", "format": "date", "example": "2026-04-28" },
                "widget_loads": { "type": "integer", "example": 4211 },
                "viewable_sessions": { "type": "integer", "example": 1312 },
                "engagement_queries": { "type": "integer", "example": 248 },
                "total_clicks": { "type": "integer", "example": 94 },
                "sessions": { "type": "integer", "example": 201 }
              }
            }
          },
          "meta": {
            "type": "object",
            "properties": {
              "timezone": { "type": "string", "example": "UTC" },
              "generated_at": { "type": "string", "format": "date-time", "example": "2026-05-11T18:45:00Z" }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyBearer": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using your Dappier API key. Get your API key at https://platform.dappier.com/profile/api-keys."
      }
    }
  }
}
