{
	"openapi": "3.1.0",
	"info": {
	  "title": "Dappier Datamodel API",
	  "version": "0.1.0"
	},
	
	"servers": [
		  {
			  "url": "https://api.dappier.com"
		  }
	  ],
	  
	"paths": {
	  "/app/datamodel/dm_01hpsxyfm2fwdt2zet9cg6fdxt": {
		"post": {
		  "summary": "Query Real Time Data data",
		  "description": "Access real-time google web search results including the latest news, weather, travel, deals and more.",
		  "operationId": "query_RealTimeData_data",
		  "requestBody": {
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/QueryRequest"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Return HTTP Status Code 200 (OK)",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/QueryResponse"
				  }
				}
			  }
			}
		  },
		  "security": [
			{
			  "ApiKeyBearer": []
			}
		  ]
		}
	  },
		"/app/datamodel/{datamodel_id}": {
			"post": {
				"summary": "Get AI Article Recommendations",
				"description": "Retrieve articles based on queries or URLs, powered by semantic search.",
				"parameters": [
					{
						"name": "datamodel_id",
						"in": "path",
						"required": true,
						"description": "Data model ID, starting with `dm_`.",
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"query": {
										"type": "string",
										"description": "Natural language query, keyword or URL. If URL is specified, our AI analyzes the page context, summarizes and provides semantic recommendations based on the content."
									},
									"similarity_top_k": {
										"type": "integer",
										"default": 9,
										"description": "Number of articles to return."
									},
									"ref": {
										"type": "string",
										"description": "site domain of where ai recommendations are being displayed. Example format: dappier.com"
									},
									"num_articles_ref": {
										"type": "integer",
										"default": 0,
										"description": "Minimum number of articles from the `ref` domain specified above. The rest of the articles will come from other sites within the RAG model."

									},
									"search_algorithm": {
										"type": "string",
										"enum": ["most_recent", "semantic", "most_recent_semantic"],
										"description": "Search algorithm for retrieving articles. \n `\\\"most_recent\\\"`: retrieves the most recent articles by publication date. `\\\"semantic\\\"` (default): retrieves contextually relevant articles based on the query or the page content from the provided URL. `\\\"most_recent_semantic\\\"`: performs semantic search and retrieves the most recent articles by publication date."
									}
								},
								"required": ["query"]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Successful response with article recommendations.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"results": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"author": {
														"type": "string",
														"description": "Author of the article."
													},
													"image_url": {
														"type": "string",
														"description": "Image URL for the article. You can add &w=400&h=200 to the end of the URL with your desired size values to automatically resize and optimize delivery of the image."
													},
													"preview_content": {
														"type": "string",
														"description": "Short preview of the article content."
													},
													"pubdate": {
														"type": "string",
														"description": "Publication date of the article."
													},
													"pubdate_unix": {
														"type": "integer",
														"description": "Publication date in UNIX timestamp."
													},
													"site": {
														"type": "string",
														"description": "Source site of the article."
													},
													"site_domain": {
														"type": "string",
														"description": "Domain of the site."
													},
													"title": {
														"type": "string",
														"description": "Title of the article."
													},
													"url": {
														"type": "string",
														"description": "URL for the article."
													}
												}
											}
										}
									}
								}
							}
						}
					}
				},
				"security": [
					{
						"ApiKeyBearer": []
					}
				]
			}
		}
	},
	"components": {
	  "schemas": {
		"QueryRequest": {
		  "properties": {
			"query": {
			  "type": "string",
			  "title": "Query message",
			  "description": "query text to be passed to the AI model"
			}
		  },
		  "type": "object",
		  "required": [
			"query"
		  ],
		  "title": "QueryRequest"
		},
		"QueryResponse": {
		  "properties": {
			"response": {
			  "type": "string",
			  "title": "Query response",
			  "description": "response of the query sent, generated by the AI model"
			}
		  },
		  "type": "object",
		  "required": [
			"response"
		  ],
		  "title": "QueryResponse"
		}
	  },
	  "securitySchemes": {
		"ApiKeyBearer": {
		  "type": "http",
		  "scheme": "bearer"
		}
	  }
	}
}