{
	"openapi": "3.1.0",
	"info": {
	  "title": "Dappier Datamodel API",
	  "version": "0.1.0"
	},
	
	"servers": [
		  {
			  "url": "https://api.dappier.com"
		  }
	  ],
	  
	"paths": {
	  "/app/datamodel/dm_01hpsxyfm2fwdt2zet9cg6fdxt": {
		"post": {
		  "summary": "Query Real Time Data data",
		  "description": "Access real-time google web search results including the latest news, weather, travel, deals and more.",
		  "operationId": "query_RealTimeData_data",
		  "requestBody": {
			"content": {
			  "application/json": {
				"schema": {
				  "$ref": "#/components/schemas/QueryRequest"
				}
			  }
			},
			"required": true
		  },
		  "responses": {
			"200": {
			  "description": "Return HTTP Status Code 200 (OK)",
			  "content": {
				"application/json": {
				  "schema": {
					"$ref": "#/components/schemas/QueryResponse"
				  }
				}
			  }
			}
		  },
		  "security": [
			{
			  "ApiKeyBearer": []
			}
		  ]
		}
	  }
	},
	"components": {
	  "schemas": {
		"QueryRequest": {
		  "properties": {
			"query": {
			  "type": "string",
			  "title": "Query message",
			  "description": "query text to be passed to the AI model"
			}
		  },
		  "type": "object",
		  "required": [
			"query"
		  ],
		  "title": "QueryRequest"
		},
		"QueryResponse": {
		  "properties": {
			"response": {
			  "type": "string",
			  "title": "Query response",
			  "description": "response of the query sent, generated by the AI model"
			}
		  },
		  "type": "object",
		  "required": [
			"response"
		  ],
		  "title": "QueryResponse"
		}
	  },
	  "securitySchemes": {
		"ApiKeyBearer": {
		  "type": "http",
		  "scheme": "bearer"
		}
	  }
	}
}